jakarta-soap-client/src/main/resources/PingPongService.wsdl

<?xml version="1.0" ?>
<!--
  ~ Copyright (c) 2022, ninckblokje
  ~ All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions are met:
  ~
  ~ * Redistributions of source code must retain the above copyright notice, this
  ~   list of conditions and the following disclaimer.
  ~
  ~ * Redistributions in binary form must reproduce the above copyright notice,
  ~   this list of conditions and the following disclaimer in the documentation
  ~   and/or other materials provided with the distribution.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  ~ AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  ~ IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  ~ DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
  ~ FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
  ~ DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
  ~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
  ~ CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~ OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~ OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="ninckblokje/PingPongService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="ninckblokje/PingPong" name="PingPongService" targetNamespace="ninckblokje/PingPongService">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="ninckblokje/PingPong" elementFormDefault="qualified" targetNamespace="ninckblokje/PingPong" version="1.0">

  <xs:element name="PingRequest">
    <xs:complexType>
      <xs:sequence></xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PongResponse" type="tns:pongResponse"></xs:element>

  <xs:complexType name="pongResponse">
    <xs:sequence>
      <xs:element name="DateTime" type="xs:dateTime"></xs:element>
      <xs:element name="Client" type="tns:clientInformation"></xs:element>
      <xs:element name="Host" type="tns:hostInformation"></xs:element>
      <xs:element name="ApplicationServer" type="tns:applicationServerInformation"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clientInformation">
    <xs:sequence>
      <xs:element name="IPAddress" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hostInformation">
    <xs:sequence>
      <xs:element name="HostName" type="xs:string"></xs:element>
      <xs:element name="Architecture" type="xs:string"></xs:element>
      <xs:element name="OperatingSystem" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="applicationServerInformation">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"></xs:element>
      <xs:element name="Framework" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="applicationServer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Helidon SE"></xs:enumeration>
      <xs:enumeration value="Helidon MP"></xs:enumeration>
      <xs:enumeration value="Open Liberty"></xs:enumeration>
      <xs:enumeration value="Quarkus"></xs:enumeration>
      <xs:enumeration value="Spring Boot"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="framework">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Jakarta EE"></xs:enumeration>
      <xs:enumeration value="Spring WS"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="Ping">
    <wsdl:part element="ns1:PingRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PingResponse">
    <wsdl:part element="ns1:PongResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PingPongService">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:Ping" name="Ping">
    </wsdl:input>
      <wsdl:output message="tns:PingResponse" name="PingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PingPongServiceSoapBinding" type="tns:PingPongService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="ninckblokje/PingPongService/Ping" style="document"></soap:operation>
      <wsdl:input name="Ping">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="PingResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PingPongService">
    <wsdl:port binding="tns:PingPongServiceSoapBinding" name="PingPongServicePort">
      <soap:address location="http://localhost:9080/jakarta-soap-service/PingPongService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>